body {
  align-items: center;
  background: #545644;
  color: white;
  user-select: none
}

.Title {
  text-align: left;
  font-size: 400%;
  max-width:100%;
  height:auto;
}

.Title h2 {
  margin-top: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Title a {
  color: lightgrey;
  text-decoration: none;

}

.Title h6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Title img {
  align-content: center;
  align-items: center;
  filter: brightness(40%);
  max-width:100%;
  height:auto;
}

.About {
  display: inline;
  float: left;
  align-content: left;
  margin: 10px;
  background: #4A4C3A;
  width: 47%;

}

.Goal {
  display: inline;
  float: right;
  margin: 10px;
  background: #4A4C3A;
  width: 50%;
}

.Tips {
  margin: 200px;
  background: #4A4C3A;
  text-align: center;
}

footer {
  align-items: center;
  align-content: center;
  size: 50%;
}