.menubar {
  background: #808080;
  height: 50px;
} 

.menubar ul li {
  text-align: right;
  list-style-type: none;
}

.menubar a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  position: inherit;
}

div { 
  border: 5px solid #000;
  overflow: hidden;
  white-space: nowrap;
}